enter your new password:

<form action="forgot_password/:token" method="post">
	new password:<input type="password" name="password">
	confirmation:<input type="password" name="confirmation">
	<input type="submit" value="Bob submit">
</form>