token access validated
enter your new password:

<form action="/users/forgot_password/<%= @password_token %>" method="post">
	new password:<input type="password" name="password">
	confirmation:<input type="password" name="confirmation">
	<input type="submit" value="Bob submit">
</form>