<h1>enter your new password:</h1>

<form action="forgot_password/:token" method="post">
	new password:<input type="password" name="password">
	confirmation:<input type="password" name="confirmation">
	<button type="submit" value="Bob submit">Bob it </button>
</form>