<div id="new-peep">
	<form  action="/peeps" method="post">
		<input class="peep_it" type="text" name="message" placeholder="peep it now !">
		<button class="peep_button" type="submit" value="Add link">Peep!</button>
	</form>
</div>

