
@font-face {
    font-family: 'most_waztedregular';
    src: url('/fonts/mostwasted-webfont.eot');
    src: url('/fonts/mostwasted-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mostwasted-webfont.woff') format('woff'),
         url('/fonts/mostwasted-webfont.ttf') format('truetype'),
         url('/fonts/mostwasted-webfont.svg#most_waztedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	background: url('/images/bg-bookmark.jpg') no-repeat center center fixed;
	background-size: 100%;
}

#dot-matrix {
background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

body {
 height: 3000px;
 margin-top: 68px;
 font-family: most_waztedregular;
}

header {

}
.logo {
	background: url('/images/booktag-200.png') no-repeat;
	height: 36px;
	width: 156px;
}

nav li {
display: inline-block;
list-style-type: none;
float: right;
padding-left: 10px;
margin-top: -18px;
margin-right: 12px;
vertical-align: middle;
font-size: 1.4em;
}

nav {
	background: white;
	position: fixed;
	width: 100%;
	top: 0px;
	margin-left: -8px;
}

form {
	font-family: ;
}


form input {
	height: 20px;
	rgba(160, 160, 176, 0.6);
}

form button {
height: 26px;
width: 80px;
}