<% if !current_user %>
  <nav>
      <div class="logo">
        <img src="/images/Twitter_logo_blue.png">
      </div>

<div id="header" class="clearfix">
  <div class="positionsprite">      
    <ul class="icone">
      <li class="icone-1"><a href="/sessions/new"></a></li>
      <li class="icone-2"><a href="/users/new"></a></li>
      <li class="icone-3"><a href="/users/reset_password"></a></li>
    </ul>
  </div>
</div>

  </nav>
<% end %>

<!-- 
   <ul>
      <li>
        <a href="/sessions/new">Sign in</a>
      </li>
      <li>
        <a href="/users/new">Sign up</a>
      </li>
      <li>
        <a href="/users/reset_password">Forgot password</a>
      </li>
    </ul>
    -->