<% if current_user %>

  <nav>
    <div class="logo">
      <img src="/images/Twitter_logo_blue.png">
    </div>
    <ul>
      <li>
        <span class="welcome">Welcome, <%= current_user.email %>, @<%= current_user.user_handle %> </span>
      </li>
      <li>
        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <button class="sign_out" type="submit" value="Sign out">Sign out</button>
        </form>
      </li>
    </ul>
  </nav>
  
<% end %>